---
name: Run Tests

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
  release:
    types: [released]

jobs:


  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        django-version: ["3.2.0", "4.1.3"]
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load cached venv
        id: cached-poetry
        uses: actions/cache@v3
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('**/poetry.lock') }}
      - name: mypy_checks
        run: |
          poetry install
          poetry run mypy ./gqlauth
      - name: Run tests
        run: |
          poetry install
          poetry run pip install "Django~=${{ matrix.django-version }}"
          make test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3

  publish:
    runs-on: ubuntu-latest
    needs: [tests]
    if: ${{ needs.tests.result == 'success' &&
      github.event.action == 'published' }}

    steps:
      - uses: actions/checkout@v2
      - name: Build and publish to pypi
        uses: JRubics/poetry-publish@v1.15
        with:
          pypi_token: ${{ secrets.PYPI_API_TOKEN }}
