---
name: Run Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [released]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        django-version: ["4.2", "5.1"]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        exclude:
          - django-version: "4.2"
            python-version: "3.14"
          - django-version: "5.1"
            python-version: "3.14"

    steps:
      - uses: actions/checkout@v6

      - name: Install uv & Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install deps
        run: uv sync --all-extras --frozen

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Run tests
        run: |
          uv run python -c "import django; print(django.get_version())"
          task test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
